#head1{
    color: aqua;
}

.head{
    color: blueviolet;
}
.heading2{
    color: blue;
}
*{
    background-color:bisque;
}
#obj{
    color: blue;
}
#ed{
    color: blue;
}
#ts{
    color:blue
}
#cer{
    color: blue;
}
#ap{
    color: blue;
}
#ss{
    color: blue;
}
#hob{
    color: blue;
}